body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  text-align: center;
}
.header h1{
  margin: 0px;
  padding: 20px;
}
.series-list ul{
  margin: 0px;
  padding: 20px;
  min-height: calc(100vh - 118px);
}
.series-list ul li{
  list-style-type: none;
  text-align: center;
  padding: 10px;
}
